header {
  padding-top:1em;
  font-size: 2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
h2{
    padding-top:1em;
    font-size: 2em;
}
.icon-menu {
  right:5px;
  font-size: 1em;
}
#slider{
  width:48em;
  height:30.5em;
  overflow:hidden;
}
#slider .Slides{
  display:block;
  width:100%;
  margin:0;
  padding:1em;
}
#slider .slide{
  float: left;
  position: relative;
  list-style-type: none;
  padding-left: 1em;
  min-height: 10em;
  min-width: 10em;
}

#projectContainer{
  width: 60em;
  height: 40em;
  border: solid green;
  border-width: .2em;
  display: inline-flex;

}
#leftProject{
  width: 20em;
  height: 20em;
  border: solid green;
  border-width: .2em;
  margin-top:135px;
  margin-bottom: auto;
  margin-left:79px;
  margin-right: auto;
}
#rightProject{
  width: 20em;
  height: 20em;
  border: solid green;
  border-width: .2em;
  margin-top: 135px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 79px;
}
